body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 5, 5);
  }
  .conteiner .options {
    display: flex;
    gap: 80px;
    text-align: center;
  }
  .options a {
    text-decoration: none;
    color: black;
    background: rgb(0, 255, 242);
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, .1);
    align-items: center;

  }
  .conteiner h1 {
    font-size: 1.8rem;
    text-align: center center;
  }

  .image {
    align-items: center;
    position: relative;
    margin-left: 300px;
  }